.contact
	&__map 
		width: 100%
		height: 100%
		+adap('min-height', 509, 400)
		+adap('border-radius', 40, 20)
 
	&-wrapper
		display: grid
		grid-template-columns: minmax(320px, 1fr) minmax(auto,  percent(1294, 1732))
		+adap('gap', 80, 20)
		align-items: start

	&__left 
		display: grid
		+adap('gap', 28, 20)
		align-content: start

	&__address
		+adap('font-size', 18, 16)
		font-weight: 600


	@media (max-width: 767px)
		&-wrapper
			grid-template-columns: 100%










































































































