.cooperation
	&-wrapper
		display: grid
		grid-template-columns: auto 1fr
		+adap('gap', 28, 20)
		align-items: start

	&__left 
		display: grid
		+adap('gap', 24, 20)
		grid-template-columns: 100%
		align-content: start
		+adap('max-width', 753, 100, 1 , $min: true)

	&__text 
		@media (min-width: 992px)
			+adap('margin-bottom', 40, 20 , $min: true)

	&__images 
		display: grid
		grid-template-columns: repeat(3, 1fr)
		align-items: start
		+adap('gap', 20, 8)
		flex-shrink: 1

	&__img 
		height: 100%
		aspect-ratio: 302/436	

		img
			height: 100%
			+adap('border-radius', 40, 16)
			object-fit: cover

	@media (max-width: 991px)
		&-wrapper
			grid-template-columns: 100%

		&__left 
			max-width: none











































































































