.features
	position: relative
	z-index: 1

	overflow: hidden

	@media (min-width: 576px)
		&:before
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 50%
			height: 100%
			z-index: 0

			background: url(../img/features/bg2.webp) center / cover no-repeat

			mix-blend-mode: screen
			opacity: 0.8
			pointer-events: none
 
		&:after
			content: ''

			position: absolute
			right: -17%
			bottom: -64%
			z-index: -1

			+adap('width', 1000, minusPercent(50, 1000))
			+adap('height', 700, minusPercent(50, 700))

			background: url(../img/features/bg.webp) center / contain no-repeat
			pointer-events: none

	&-wrapper
		display: grid
		grid-template-columns: repeat(4, min(275px, 17vw))
		+adap('gap', 100, 12) 

		@media (max-width: 1199px)
			grid-template-columns: repeat(4, min(275px, 19vw))
		
		@media (max-width: 991px)
			grid-template-columns: repeat(2, 1fr)

	&__item 
		&-icon 
			display: flex
			align-items: center
			justify-content: center
			+adap('margin-bottom', 32, 12)
			+adap('width', 74, 48)
			+adap('height', 74, 48)

			background: rgba(255, 255, 255, 0.7)
			+adap('border-radius', 20, 12)

			img 
				max-width: 70%
				max-height: 70%

		&-title 
			+adap('margin-bottom', 24, 12)
			+adap('font-size', 28, 20)
			font-weight: 600











































































































