.footer 
	color: #fff

	&__top 
		display: flex
		align-items: flex-start
		justify-content: space-between
		+adap('gap', 20, 12)

		&-wrapper
			+adap('padding-block', 44, 24)
			
			background: $bg

	&__menu 
		display: grid
		grid-template-columns: repeat(2, auto)
		+adap('column-gap', 200, 20, $widthTo: 1200)
		+adap('margin-bottom', -28, -16)

		+adap('font-size', 18, 16)
		font-weight: 600

		&>*
			+adap('margin-bottom', 28, 16)

		a
			+hov 
				color: $active

			&:has(+.sub-menu)
				display: flex
				align-items: center
				gap: 16px

				&:after
					content: ''

					width: 24px 
					height: 24px

					+mask(arrow(50%), currentColor)
					+t 

				&.active 
					&:after
						rotate: -180deg


		.sub-menu 
			position: absolute
			right: 0
			bottom: 100%

			display: grid
			gap: 16px
			grid-template-columns: 100%
			margin-top: 16px !important
			padding: 12px
			width: max-content

			opacity: 0 
			pointer-events: none
			+t
			background: $bg
			border-radius: 8px

			&.active 
				opacity: 1 
				pointer-events: auto

			a 
				display: block
				width: 100%

	&__call 
		display: grid
		+adap('gap', 28, 20)
		grid-template-columns: 100%

		+adap('font-size', 18, 16)
		font-weight: 600	

	&__contacts
		display: flex
		align-items: center
		gap: 12px

	&__info 
		display: grid
		gap: 12px

		line-height: 1.4


	&__bottom 
		display: flex
		align-items: center
		justify-content: space-between
		gap: 12px
		flex-wrap: wrap
	
		+adap('font-size', 16, 14)
	
		a 
			+hov
				color: $active
	
		&-wrapper 
			padding: 10px
	
			background: #0e0d0d
			color: #fff
	

	@media (max-width: 1199px)
		&__menu 
			display: none
	
	@media (max-width: 991px)
		&__bottom
			display: grid
			grid-template-columns: repeat(2, 1fr)
	
			&>* 
				&:nth-child(2n)
					@media (min-width: 576px)
						text-align: right
	
	@media (max-width: 767px)
		&__top 
			display: grid
			gap: 24px

	@media (max-width: 575px)
		&__bottom
			grid-template-columns: 100%









 





















































































































