.input-wrapper 
	+adap('gap', 16, 12)
	
.input, .textarea
	width: 100%
	+adap('padding-inline', 28, 16)

	background: #fff
	+adap('border-radius', 100, 40)

	+adap('font-size', 16, 15)
	font-weight: 500

	&::placeholder
		color: #a9b5b7

	$error-color: #f03

	&:user-invalid
		color: $error-color
		border-color: $error-color

		&::placeholder
			color: $error-color


.input
	+adap('height', 64, 48)

.textarea
	+adap('height', 100, 80) 
	


	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
