
.header
	position: sticky
	left: 0
	top: 12px
	z-index: 10
	+adap('margin-top', 50, 1)

	=fixed 
		position: absolute 
		left: 0
		top: 0
		z-index: 10

		width: 100%
		will-change: transform

	.container 
		width: 100%
		max-width: 1742px
		padding-inline: 12px
			
	&-fixed  
		+fixed
		min-height: var(--headerFixedHeight)

		transition: opacity .4s
		
	&__logo 
		display: flex
		align-items: center

		img 
			+adap('width', 249, minusPercent(30, 249), $widthTo: 1500)
			+adap('height', 49, minusPercent(30, 49), $widthTo: 1500)

			@media (max-width: 1199px)
				+adap('width', 249, minusPercent(30, 249) , $min: true)
				+adap('height', 49, minusPercent(30, 49), $min: true)	

	&__top 
		display: grid
		grid-template-columns: 1fr auto
		+adap('gap', 24, 16)
		align-items: center

		&-wrapper
			display: flex
			align-items: center

	&__left 
		display: grid
		grid-template-columns: auto 1fr repeat(2, auto)
		+adap('gap', 24, 12, $widthTo: 1500)
		align-items: center  
		+adap('padding-block', 12, 8)
		+adap('padding-inline', 24, 16)

		background: rgba(255, 255, 255, 0.8)
		+adap('border-radius', 60, 20)

	&__menu 
		display: flex
		align-items: center
		row-gap: 12px
		+adap('column-gap', 22, 10, $widthTo: 1500)
		flex-wrap: wrap

		+adap('font-size', 18, 15  , $widthTo: 1500)
		font-weight: 600

		@media (min-width: 1921px)
			column-gap: 12px

		&>li>a 
			+hov
				color: $active

	&__email,
	&__tel 
		+adap('font-size', 18, 14)
		font-weight: 600

	&__button 
		+adap('min-width', 248, 200, $widthTo: 1200)
		+adap('font-size', 16, 15)

	@media (max-width: #{$burgerMedia+px})
		$padding-top: 40
		$padding-bottom: 40
		$padding-x: 20
		$mobile-bg: #fff

		&__top 
			display: grid
			grid-template-columns: 1fr repeat(4, auto)
			padding: 4px 12px

			border-radius: 20px
			background: #fff

		&__left
			display: contents

		&__mobile 
			position: fixed
			right: -100vw
			top: 0
			z-index: 5
					
			display: grid 
			grid-template-columns: 100%
			justify-items: start
			align-content: start
			gap: 20px
			width: min(500px, 101vw)
			height: calc(100dvh - #{var(--headerFixedHeight)} + px)
			padding: #{$padding-top+px} #{$padding-x+px} #{$padding-bottom+px}
					
			background: $mobile-bg
			border-top-left-radius: 20px
			border-bottom-left-radius: 20px
			box-shadow: 0 0 20px rgba(#000, .1)
					
			opacity: 0
			transition: right .3s, opacity .3s
			+scrollbar(100vh, $scrollBarWidth: 4, $padding: 0) 

			&.active
				right: 0px
				opacity: 1

		&__nav 
			width: 100%

		&__menu
			display: grid
			grid-template-columns: 100%
			gap: 20px  
			width: 100%

	@media (max-width: 991px)
		&__top 
			grid-template-columns: 1fr repeat(3, auto)

	@media (max-width: 767px)
		&__top 
			grid-template-columns: 1fr repeat(2, auto)

	@media (max-width: 575px)
		.container 
			padding: 0

		&__top 
			+adap('gap', 20, 8, 575)

		&__call
			gap: 8px
	
	@media (max-width: 360px)
		&__tel 
			span 
				display: none

.header-main
	position: relative
	z-index: 1
	+adap('min-height', 812, 300)

	background: linear-gradient(135deg, #cae1e8 0%, #dceaed 31.25%, #cce5e6 62.98%, #dcebed 82.21%, #d6e7ea 100%)
	overflow: hidden

	@media (min-width: 576px)
		&:after 
			content: ''

			position: absolute
			right: 0
			bottom: 0

			width: 100%  
			height: 100%
 
			background: url(../img/header/bg.webp) center / cover no-repeat
			// mix-blend-mode: screen
			// opacity: 0.6
			pointer-events: none

	&-wrapper
		position: relative
		z-index: 2

	&__title 
		+adap('margin-bottom', 38, 20)

	&__subtitle 
		max-width: max(55%, 380px)
		+adap('margin-bottom', 48, 20)

	&__img  
		position: absolute
		+adap('right', 243, 0 , $widthTo: 1200)
		bottom: 0
		z-index: 2

		+adap('max-width', 960, minusPercent(70, 960)  , $widthTo: 600)
		+adap('max-height', 600, minusPercent(70, 600)  , $widthTo: 600)

	.crumbs-wrapper 
		+adap('margin-top', -80, -20)
		+adap('margin-bottom', 80, 40)

	@media (max-width: 1199px)
		&__img 
			+adap('max-width', 740, 350 , $min: true)
			right: 0

	@media (max-width: 991px)
		.crumbs-wrapper 
			+adap('margin-top', -24, -8, 991)
			+adap('margin-bottom', 32, 24, 991)

	@media (max-width: 767px)
		&__img 
			display: none
 
				

.brand
	&-page
		.features
			&-wrapper
				grid-template-columns: repeat(4, 300px)
				+adap('gap', 80, 20  , $widthTo: 1200)

				@media (max-width: 1199px)
					grid-template-columns: repeat(4, min(275px, 19vw))
					
				@media (max-width: 991px)
					grid-template-columns: repeat(2, 1fr)

				@media (max-width: 575px)
					grid-template-columns: repeat(auto-fill, minmax(max(40%, 200px), 1fr))

		.cooperation
			&-wrapper
				display: grid
				grid-template-columns: auto 1fr
				+adap('gap', 28, 20)
				align-items: start

			&__left 
				display: grid
				+adap('gap', 24, 20)
				grid-template-columns: 100%
				align-content: start
				+adap('max-width', 753, 100, 1 , $min: true)

			&__text 
				@media (min-width: 992px)
					+adap('margin-bottom', 40, 20 , $min: true)

			&__images 
				display: grid
				grid-template-columns: repeat(3, 1fr)
				align-items: start
				+adap('gap', 20, 8)
				flex-shrink: 1

			&__img 
				width: auto 
				flex: none
				margin: 0

				height: 100%
				aspect-ratio: 302/436	

				img
					height: 100%
					+adap('border-radius', 40, 16)
					object-fit: cover

			@media (max-width: 1199px)
				&-wrapper
					grid-template-columns: 100%

				&__left 
					max-width: none

		.contact
			&-wrapper
				display: grid
				grid-template-columns: repeat(2, auto) 1fr
				+adap('gap', 44, 20)

			&__left 
				max-width: 370px
			
			&__form 
				+adap('width', 360, 300)
				align-self: end

			@media (max-width: 1199px)
				&-wrapper
					display: flex
					flex-wrap: wrap

			@media (max-width: 767px)
				&__form 
					width: 100%
 
	&-1 
		.header-main 
			&__img  
				position: absolute
				+adap('right', 219, 0 , $widthTo: 1200)
				bottom: 0
				z-index: 2

				+adap('max-width', 1180, minusPercent(75, 1180)  , $widthTo: 600)
				+adap('max-height', 514, minusPercent(75, 514)  , $widthTo: 600)

	&-2 
		.header-main 
			&:after
				background-image: url(../img/header/bg2.webp)

	&-3 
		.header-main 
			&:after
				background-image: url(../img/header/bg3.webp)

			&__img 
				+adap('right', 350, 0 , $widthTo: 1200)




				










				










				










				










				




				










				










				










				