$max-width: 500px
$padding-y: 60
$padding-x: 58
$brs: 8px

$close-size: 32
$close-offset: 20
$close-color: $active 

.popup 
	position: fixed
	inset: 0
	z-index: 11

	display: none	 
	width: 100%
	height: 100%
					 
	overflow: hidden
	background: rgba(0, 0, 0, 0.7)

	&__dialog 
		width: 100%
		height: 100%
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center

		cursor: pointer

	&__content
		position: relative
							
		+adap('padding-block', $padding-y, 32)
		+adap('padding-inline', $padding-x, 16)
									
		background: #edf4f5
		+adap('border-radius', 30, 20)
		+scrollbar(90vh, $scrollBarWidth: 4, $padding: 5)  
		width: max-content
		max-width: 96%
		+t

		cursor: default

	&__title
		+adap('margin-bottom', 16, 12)

		font-weight: 800
		+adap('font-size', 40, 28)
		line-height: 1
		letter-spacing: -0.1em
		text-align: center
		text-transform: uppercase

	&__form 
		form
			display: grid
			justify-content: center
			grid-template-columns: 100%
		
		.input-wrapper 
			+adap('gap', 18, 12)

		.checkbox 
			align-items: start

			font-size: 12px
			line-height: 1.3

			a 
				color: $active
				+underline

	&__close
		position: absolute
		+adap('right', $close-offset, 12)
		+adap('top', $close-offset, 12)
		z-index: 4
		display: flex

		cursor: pointer
		+t(.2)

		+hov
			scale: 1.05

		svg 
			+adap('width', 32, 24)
			+adap('height', 32, 24)

	&-thank 
		.popup
			&__content 
				display: grid
				+adap('gap', 20, 12)
				min-width: 280px
				justify-items: center

				background: #fff
				color: $text

			&__title, &__subtitle
				margin: 0
 
		img 
			+adap('width', 100, 60)
			+adap('height', 100, 60)


	@media (max-width: 575px)
		&__dialog
			width: 400px
			max-width: 100%
			padding: 0 12px
			margin: 0 auto

  
.popup-product
	&-wrapper
		display: grid
		grid-template-columns: minmax(auto,  percent(504, 1617)) 1fr 
		+adap('gap', 40, 20)
		align-items: start

	&__img 
		+adap('padding', 32, 16)
		display: flex
		align-items: center
		justify-content: center
		width: 100%
		max-height: 70vh

		background: linear-gradient(129deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%)
		+adap('border-radius', 52, 04)

		aspect-ratio: 504/665 
		img 
			width: 100%
			height: 100%

	&__right 
		display: grid
		align-items: start
		+adap('gap', 32, 20)
		justify-items: start

	&__title 
		+adap('font-size', 40, 16)
		+nun
		line-height: 1.3
		letter-spacing: -0.04em
		text-transform: uppercase

	&__chars
		display: grid
		+adap('gap', 24, 16)

	&__char 
		display: grid
		grid-template-columns: 180px 1fr 
		+adap('column-gap', 28, 16)
		row-gap: 4px

		&-title 
			font-weight: 600
	
	&__text 
		+adap('font-size', 18, 16)
		
	@media (max-width: 991px)
		&-wrapper
			grid-template-columns: 100%

		&__img 
			aspect-ratio: none 
			+adap('max-height', 340, 200)
	
	@media (max-width: 575px)
		&__char 
			grid-template-columns: 100%

		&__title
			br 
				display: none

		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
